
/* colors  */
@define-color red             #f38ba8;
@define-color yellow          #f9e2af;


/* custom */
@define-color background      #11111b;
@define-color text      #cdd6f4;
@define-color workspace-bg     #2e2f3e;
@define-color workspace-fg @text;
@define-color workspace-empty-fg #a6e3a1;
@define-color workspace-active-bg #9399b2;
@define-color workspace-active-fg #11111b;

@define-color module-bg #272834;

@define-color power-bg #f38ba8;

@define-color battery-warning @yellow;
@define-color battery-charging #a6e3a1;
@define-color battery-plugged #89b4fa;

@define-color mpris-bg #23242f;









* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
  border: none;
  margin: 0;
  padding: 0;

}

tooltip {
  border: 1.5px solid #000000;
  border-radius: 8px;
}

tooltip label {
  color: white;
  margin: 3px;
}

.module{
    background: @module-bg;
    padding: 4px 8px;
}
/* window#waybar { */
/* } */

window#waybar > box {
  margin-bottom: 0px;
  color: white;
  padding: 2px;
}

window#waybar{
    background-color: transparent;
}

@keyframes pulse {
    50% { color:@red ; }
    100% { color: red; }

}

/* ----------- Modules ----------- */

/* Workspaces */
#workspaces{
    padding:0px;
    background: @workspace-bg;
    border-radius: 8px;
    color:@workspace-fg;
}

#workspaces button {
  /* color: ; */
  border-radius: 8px;
  box-shadow: none;
  padding: 0 10px;
  transition: none;
}

#workspaces button.active {
  color: @workspace-active-fg;
  background: @workspace-active-bg;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

#workspaces button:hover {
  /* color: ; */
  /* background: ; */
  text-shadow: none;
}


#workspaces button.urgent {
  /* background-color: ; */
  animation-name: pulse;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.empty {
  color: @workspace-empty-fg;
}

/* System Info */
#cpu, #memory, #custom-cpuinfo {
    padding:0;
}

#custom-cpuinfo{
    border-radius: 8px 0px 0px 8px;
    margin-left: 20px;

}

#cpu {

}

#memory{
    border-radius: 0px 8px 8px 0px;
    margin-right: 20px;

}

#window{
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background: @background;
}



/* #wireplumbler, #backlight, #custom-wifi,#bluetooth,#battery{ */
/**/
/**/
/**/
/* } */

/* Media Control */
#mpris {
    background: @mpris-bg;
    border-radius: 8px;
    padding: 0 16px;
    margin-left: 8px;
}


 /* #custom-power:hover {  */
 /*  }  */

#wireplumber, #backlight,#bluetooth,#network,#battery{
    background-color: @module-bg;


}
#wireplumber{
    border-radius: 8px 0px 0px 8px;
    margin-left: 10px;
}

/* #network{ */
/**/
/* } */

/* Battery */
#battery {
    border-radius: 0px 8px 8px 0px;
    margin-right: 15px;
    /* color: ; */
}

#battery.critical {
    /* color: ; */
    animation: pulse 0.4s linear infinite alternate;
}

#battery.warning {
    color: @battery-warning;
}

#battery.charging {
    color: @battery-charging;
    animation:none;
}

#battery.plugged {
    color: @battery-plugged;
}

#network.disconnected {
    color:red;
}

/* Time */
#clock {
    font-weight: bold;
    background: @module-bg;
}

#clock.time{
    padding-left: 20px;
    border-radius: 8px 0 0 8px;

}
/* #clock.date{ */
/* } */
#idle_inhibitor{
    border-radius:0 8px 8px 0 ;
    padding-right: 20px;
    background: @module-bg;
}

#tray{
    background: @module-bg;
    border-radius: 8px;
    padding: 0 10px;
    margin-right: 20px;

}

